<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>Emaillist10</title>
</head>
<body>
	<div>
		<h1>500: Internal Server Error</h1>
		<pre>
<%=error%>
		</pre>
	</div>
</body>
</html>


